.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/config/initializers/passbook.rb
spec/dummy/public
spec/dummy/spec
spec/dummy/config/locales/database.yml
spec/dummy/app/models/medication.rb
.DS_Store
*.swp
*.swo

